<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<title>ShoppingCart</title>
</head>
<body>


  <th:block th:each="item: ${itemList}">
    <form th:action="@{/list}" method="POST" th:object="${listForm}" >
      <span th:text="${item.itemid}"></span>
      <span th:text="${item.name}"></span>
      <span th:text="${item.price}"></span>
      <input type="hidden" name="itemid" th:value="${item.itemid}">
      <input type="number" name="num" >
      <input type="submit" name="order" value="カートに追加" >
      </form>
  </th:block>



カート情報
  <th:block th:each="order: ${orderList}">
      <span th:text="${order.itemid}"></span>
      <span th:text="${order.num}"></span>
  </th:block>

</body>
</html>